version: '3.9'

services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile
    environment: 
      SERVER_PORT: 3000
      DB_HOST: ${DB_NAME}
      DB_PORT: ${DB_PORT}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_ADMIN_EMAIL: ${DB_ADMIN_EMAIL}
      NODE_ENV: production
    ports:
      - 3000:3000
    depends_on:
      - postgres
    networks:
      - fiap  

  postgres:
    container_name: postgres
    image: postgres:latest
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGDATA: /data/postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 3  
    ports:
      - "5432:5432"
    networks:
      - fiap
    restart: unless-stopped

networks:
  fiap:
    driver: bridge
